@charset "UTF-8";
body {
	background: url('../img/web.png') no-repeat center top;
	border: 5px solid rgba(249, 212, 82, 0.8);
}
	
header {
	width: auto;
	height: 250px;
	border-bottom: 1px solid #f9d356;
}

header div ul {
	float: right;
	display: inline-block;
	list-style-type: none;
	padding: 0px 1em;
	height: 170px;
}

header div ul li {
	margin: 0px 5px;
	float: left;
}

header div ul li a, header div ul li a:visited {
	color: #f9d356;
	text-decoration: none;
}

header div ul li a:hover, a:focus {
	color: orange;
}


section {
	margin: 5px auto;
   	padding: 8px;
   	width: 1080px;
   	text-align: left;
   	border: 2px solid rgba(249, 212, 82, 0.8);
}

.find {
	display: inline-block;
	float: left;
}

.find ul {
	display: inline-block;
	padding: 0 10px;
	list-style-type: none;
}

.find ul li {
	float: left;
	padding: 0 3px;
}

.find ul li a, .find a:visited {
	color: gray;
	text-decoration: none;
}

.find ul li a:hover, .find ul li a:focus, .cont:hover, .cont:focus {
	text-decoration: underline;
}

.cont {
	float: right;
	padding: 0 10px;
   	text-decoration: none;
   	color: gray;
   	margin: 16px 5px;
}
	
	
footer {
	clear: both;
	background: rgba(249, 212, 82, 0.8);
	height: 150px;
	text-align: center;
}

footer p {
	padding: 30px;
	color: gray;
}
footer p a, footer p a:visited {
	text-decoration: none;
	color: orange;
}

footer p a:hover, a:focus {color: gray;}